{% extends 'BlogApp/plantilla_base.html' %}

{% block contenido_base %}

<h3>Mateo</h3>

<h3>Martin</h3>

<h3>Macarena</h3>

<body>Mi nombre es María Macarena Gomez Pujal, tengo 30 años y soy Ingeniera Quimica. Nací y viví todos estos años en Buenos Aires, Argentina
    Hoy me encuentro trabajando dentro del departamento comercial de una compañía química. 
    Siempre me interesó la programación, desde la secundaria hasta en la universidad. Hoy me decidí dar mis primeros pasos en el aprendizaje de programación ya que 
    quiero revolucionar el modo en el que trabajamos. Me gustaría lograr conseguir trabajo remoto o freelance, para poder viajar y disfrutar la vida
    desde otro lugar, dedicandome a lo que me gusta. 
</body>

{% endblock contenido_base %}