{% extends 'BlogApp/plantilla_base.html' %}

{% block contenido_base %}

<td><a href="{% url 'Nuevo' %}"> Crear Artículo </a></td>

<table>
    <tbody>
      <tr>
        <th>
          <strong>Titulo</strong>
        </th>
        <th>
          <strong>Fecha</strong>
        </th>
        <th>
            <strong>Autor</strong>
          </th>
          <th>
            <strong>Ver Detalle</strong>
          </th>
          <th>
            <strong>Editar</strong>
          </th>
          <th>
            <strong>Eliminar</strong>
          </th>
      </tr>

    {% for articulo in object_list %}
        
        <tr>
            <td>{{articulo.titulo}}</td>
            <td>{{articulo.fecha}}</td>
            <td>{{articulo.autor}}</td>

            <td><a href="{% url 'Detalle' articulo.id %}"> Leer más</a></td>
            <td><a href="{% url 'Editar' articulo.id %}"> Editar</a></td>
            <td><a href="{% url 'Eliminar' articulo.id %}"> Eliminar</a></td>

        </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}